{% extends 'masterpage.html' %}

{% block title %}
  
{% endblock title %}

{% block body %}
<div class="card bg-dark text-white">
  <img style="opacity: 0.3;" class="card-img" src="https://isagebrum.com/images/technology/python-image.svg" alt="Card image">
  <img style="opacity: 0.3;" class="card-img" src="" alt="Card image">
  <div class="card-img-overlay">
    <h5 style="color: orange;"><b>Become a Certified</b></h5>
    <h1 class="card-title">java Developer</h1>
    <p class="card-text" >Python Certification Course Helps You Start Your Career As A Professional Python Developer. Start Your Coding Journey With Our High-Skilled Python Mentors Who Have, Core IT Experience. We Have Bundled The Syllabus In A Way That One Can Master This High-Level Programming Language And Be Able To Develop Console-Based Applications, GUI-Based Applications, Mobile Applications, And Web Applications. We Offer Python Classes In Pune To Making You Future Ready. Our Python Classes In Pune Help You To Improve Your Skills.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>
{% endblock body %}